# Игнорирование файлов с расширением .pyc

*.pyc

# Игнорирование папки с именем «venv»

venv/

# Игнорирование всех файлов в папке «logs»

logs/*

# Игнорирование файла с именем «config.ini»

config.ini